/* .App {
  min-height: 100vh;
  min-width: 100vh;
  background-image: linear-gradient(#000000, #0d2d35), url('./assets/group-243.png');  
}
.App2 {
  
} */

/* .App {
  margin: 0;
  padding: 0;
  background-image: url('./assets/group-243.png');
  min-height: 100vh;
  min-width: 100vh;
}

.App:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-image: url('./assets/rectangle-1.png');
} */

.App {
  display: flex; /* or inline-flex */
  /* background-image: url('./assets/group-243.png'); */
  background-image: url('./assets/rectangle-1.png');
  height: 100vh;
}
/* .App:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-image: url('./assets/rectangle-1.png');
  background-position: cover;
} */

.left-25 {
  width: 25%;
  padding: 1em;
}
.right-25 {
  width: 25%;
  padding: 1em;
}
.center-50 {
  width: 50%;
  padding: 3em 1em; 
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  color: #ff5155;
  font-size: 81px;
  line-height: 1.2;
}
.sub-heading {
  color: #ff5155;
  font-size: 26px;
  line-height: 1.19;
  margin-bottom: 30px;
  text-align: center;
}
.heading-icon{
  color: #ff5155;
  font-size: 44px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.heading-icon svg{
  padding: 0 10px;
}

::placeholder {
  color: #032228;
  opacity: 1;
}
input{
  background-color: #97a2a4;
  text-transform: uppercase;
  
}

input, select {
  display: block;
  font-size: 30px;
  line-height: 1.2;
  color: #032228;
  border-radius: 10px;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
  border: solid 1px #ffffff;
  padding: 5px 10px;
  margin-bottom: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
}
select{
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 320px;
}
button {
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  font-size: 48px;
  font-weight: 500;
  line-height: 1.21;
  color: #ff5155;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}
button:hover {
  cursor: pointer;
  border: none;
}
button:focus{
  border: none;
}
.error {
  font-size: 20px;
  color: #ff5155;
  line-height: 1;
  margin-top: 10px;
}

.all-games{
  margin: 20px 10px 10px;
  border: 2px solid #ff5155;
  border-radius: 15px;
  padding: 15px;
}
.all-games .player-score {
  color: #ffffff;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
}

.left-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
}

.current-word{
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  font-family: Gotham;
  font-size: 92px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 756px){
  .left-25 {
    width: 100%;
  }
  .right-25 {
    width: 100%;
  }
  .center-50 {
    width: 100%;
  }
}


.score-game {
  font-size: 70px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #ffffff;
}

.total-score {
  font-size: 118px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #ffffff;
  text-transform: uppercase;
}












.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
